@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: white;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: rgb(230, 194, 127);
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

a:hover {
    background-color: aliceblue;
}