@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

