@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

body {
    background-image: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 315px;
    background-image: url(pacote-d013/pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: contain;

}

iframe#tela {
    position: relative;
    top: 70px;
    left: 20px;
    width: 234px;
    height: 415px;
}

section#redes {
    text-align: right;
}

section#redes img  {
    width: 70px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    border-radius: 50%;
    box-sizing: border-box;
}

section#redes img:hover {
    width: 80px;
    border: 2px solid rgba(255, 255, 255, 0.575);
    transition: width .3s;
}
